:root{
    --padding-top-search: 15px;
    --main-border-radius: 7px;

    --coral-dark-bg: rgba(50, 50, 50, 1);
    --coral-dark-border: rgb(75, 75, 75);
    --coral-dark-border-hover: rgb(95, 95, 95);
    --coral-dark-card: rgb(37, 37, 37);
    
    --coral-light-bg: rgba(245, 245, 245, 1);
    --coral-light-border: rgb(255, 255, 255);
    --coral-light-card: rgb(255, 255, 255);

    --page-width: 85%;

    --icon-preview-dimensions: 100px;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-y: scroll;
}

a{
    text-decoration: none;
}

.coral--dark a{
    color: rgb(75, 156, 245);
}

.coral--light a{
    color: rgb(13, 102, 208);;
}

ul {
    padding-inline-start: 10px;
    padding-inline-end: 25px;
}

main{
    text-align: left;
}

.instructions-well{
    position: relative;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    padding: 0px 0px 0px 20px;
    gap: 40px;
    color: white;
    align-items: center;
}

.instructions-title{
    align-self: center;
    max-width: 440px;
 }

.card-img{
    position: relative;
    width: 100%;
}

.instructions-card-img{
    top: 6px;
}

.instructions-img-wrapper{
    position: relative;
    height: 100%;
}

.instructions-well .instructions-img-wrapper{
    width: 70%;
    margin: auto 0 auto auto;
}

.gradient::after{
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
}

.coral--dark .instructions-img-wrapper::after{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #353535 100%);
}

.coral--light .instructions-img-wrapper::after{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #f1f1f1 100%)
}


.card-grid{
    display: grid;
    gap: 35px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 50px;
}

.instructions-grid{
    grid-template-columns: 1fr;
}

.instructions-item{
    // box-shadow: 0px 24px 44px -10px rgba(0, 0, 0, 0.1);
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

.marked h2{
    font-weight: 400 !important;
    font-size: 1.7rem;
    padding: 0px 16px;
}

.marked h3{
    // margin: 0px 0px 15px 0px;
    font-size: 1.5rem;
    padding: 5px 15px;
}

.marked h4{
    font-weight: 300;
    margin: 0px 0px 15px 0px;
    font-size: 1.1rem;
    padding: 5px 15px;
}

.coral--dark .marked{
    color: var(--coral-light-border);
}

.coral--light .marked{
    color: var(--coral-dark-border);
}


.PH-badge{
    margin-top: 40px;
    margin-bottom: 25px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    transition: 0.2s;
}

.PH-badge:hover{
    opacity: 1;
}

.Box{
    transition: 0.3s;
}

.coral--dark .Box{
    box-shadow: 0px 10px 60px -5px rgb(0 0 0 / 20%);
}

.coral--light .Box{
    box-shadow: 0px 10px 60px -5px rgb(0 0 0 / 20%);
}

.coral--dark .Box:hover{
    box-shadow: 0px 20px 60px -15px rgb(0 0 0 / 50%);
    transform: translateY(-5px);
    cursor: pointer;
}

.coral--light .Box:hover{
    box-shadow: 0px 50px 40px -30px rgba(0,0,0,0.3);
}

.gitHub-sponsor{
    margin: auto;
    text-align: left;
    cursor: pointer;
    height: 100%;
    width: var(--page-width);
    max-width: 730px;
    border-radius: 8px;
}

.icon-upload-grid{
    display: grid !important;
    grid-template-columns: 1fr;
    row-gap: 13px;
}

.icons-preview-wrapper{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.icon-preview{
    max-width: var(--icon-preview-dimensions);
    margin: auto;
}

.icon-preview img{
    width: 100%;
}

.main-border-radius{
    border-radius: var(--main-border-radius)
}

.scrolled-header{
    transform: translateY(-15px) !important;
}

.scrolled-shadow{
    box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.3) !important;
    transform: translateY(0px);
}

.header-wrapper{
    display: grid;
    height: fit-content;
    padding: 30px 30px 15px 30px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: start;
    max-width: 1300px;
    margin: auto;
    width: var(--page-width);
}

.mobile-nav-options{
    width: calc(100% - 20px * 2);
    padding: 50px 20px 30px 20px;
    box-shadow: 0px 25px 35px -10px rgb(0 0 0 / 20%);
}

.coral--dark .mobile-nav-options {
    background-color: var(--coral-dark-bg);
}

.coral--light .mobile-nav-options {
    background-color: var(--coral-light-bg);
}

.mobile-nav-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    backdrop-filter: blur(2px);
    transition: 0.2s;
}

.burger-menu{
    // display: none;
    color: white;
}

.burger-btn{
    width: fit-content;
    margin: auto 0px auto auto;
}

.burger-btn:focus .burger-menu{
    color: red;
}


.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: 0.3s;
}

.header-logo-name{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.header-grid-btns{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between; */
    /* column-gap: 20px; */
    /* align-content: start; */
}

.header-grid-btns > div{
    // padding-left: 15px;
}

.header-item{
    justify-content: center;
    align-items: center;
    margin: auto !important;
    height: 100%;
    line-height: 2rem;
}

.header-icon-wrapper{
    position: absolute;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.header-icon{
    height: 22px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    transition: 0.2s;
}

.coral--dark .header-icon:hover{
    filter: brightness(1.5);
}

.coral--light .header-icon:hover{
    filter: brightness(0.7);
}

.transform-centre{
    left: 50%;
    transform: translateX(-50%);
}

.header-item-left{
    float: left;
}

.header-item-right{
    float: right;
}

.content-wrapper-regular{
    width: var(--page-width);
    margin: auto;
    max-width: 1150px;
    // min-height: calc(100vh - 155px);
}

.content-wrapper-compact{
    width: var(--page-width);
    max-width: 1050px !important;
    margin: auto;
}

.main-search-wrapper{
    position: sticky;
    padding-top: 10px;
    top: 60px;
    z-index: 1;
    width: 100%;
    margin: auto;
    transition: 0.2s;
}

.search{
    display: grid;
    grid-template-columns: auto 170px;
    column-gap: 10px;
    max-width: 1300px;
    margin: auto;
}

.switch-text{
    margin: auto;
    z-index: 2;
    font-weight: 600;
    transition: 0.1s;
    user-select: none;
}

.switch-wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 1px var(--coral-dark-border);
}

.switch-btn{
    position: absolute;
    padding: 9px;
    width: 33%;
    height: calc(100% - 30px);
    border-radius: 5px;
    backdrop-filter: brightness(70%);
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.text-not-selected{
    opacity: 0.4;
}

.switchRight{
    left: 75%;
}


.coral--dark .switch-btn{
    background-color: rgb(50, 50, 50);
    border: solid 1px rgb(74, 74, 74);
}

.coral--light .switch-btn{
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(225, 225, 225);
}

.filter-by-wrapper{
    position: relative;
    transform: translateY(-2px);
    height: 100%;
    border: 1px solid;
    border-radius: var(--main-border-radius);
    cursor: pointer;
}

.filter-by-grid{
    padding-top: 17px;
}

.cursor-pointer{
    cursor: pointer;
}


.main-search{
    position: relative;
    width: 100%;
    // padding-top: var(--padding-top-search);
    min-width: none !important;
    max-width: 1300px !important;
    border-radius: var(--main-border-radius);
    z-index: 10;
}

.search-bg{
    position: absolute;
    height: calc(var(--padding-top-search) + 45px);
    width: 110%;
    transform: translate(-5%, -5px);
    filter: blur(2px);
    /* backdrop-filter: blur(20px); */
}

.card-dark{
    background: var(--coral-dark-card);
}
.card-light{
    background: var(--coral-light-card);
}
.fill-dark{
    fill: var(--coral-dark-card);
}
.fill-light{
    fill: var(--coral-light-card);
}
.bg-dark{
    background: var(--coral-dark-bg);
}
.bg-light{
    background: var(--coral-light-bg);
}

.shadow{
    box-shadow: 0px 5px 15px -10px #00000021,
                0px 2px 5px -2px   #00000029;
    transition: 0.2s;
}

.shadow:hover{
    box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.1),
                0px 20px 20px -15px   rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 250px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: rgb(225, 225, 225);
    border-radius: var(--main-border-radius);
    margin: auto;
    // padding: 0px 10px;
}

.card-text-wrapper{
    max-width: 90%;
    margin: auto;
}

.underline{
    text-decoration: underline;
}

.coral--dark .underline{
    color: var( --coral-light-border);
}

.coral--light .underline{
    color: var( --coral-dark-border);
}

.card-wrapper:hover{
    transform: translateY(-4px);
}

.footer{
    // bottom : 0px;
    // position : absolute;
    // left : 50%;
    // transform : translateX(-50%);
    // width: 100%;
    height: fit-content;
    // display: table-row;
}

.sponsor-buttons{
    display: grid;
    grid-template-columns: 1fr;
}

.card-wrapper h3{
    margin: 2px 0px 2px 0px;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    // max-width: 90%;
    // margin: auto;
}

.opacity-0{
    opacity: 0;
}

.opacity-30{
    opacity: 0.3;
}

.opacity-40{
    opacity: 0.4;
}

.opacity-50{
    opacity: 0.5;
}

.opacity-60{
    opacity: 0.6;
}

.opacity-70{
    opacity: 0.7;
}

.opacity-80{
    opacity: 0.8;
}

.dark-mode-btn{
    width: 1.5rem;
    position: relative;
    padding-top: 1.2rem;
    transform: translateY(-40%);
    padding-left: 20px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

.icon-list-area{
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.icon-list-area a{
    text-decoration: none;
    color: black;
    margin: auto;
}

.card-img-wrapper{
    padding: 20px 65px 0px 65px;
    margin: auto;
    position: relative;
}

.card-img-wrapper img{
    max-width: 150px;
    width: 100%;
    margin: auto;
}

.hero-wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-columns: 1.2fr 1fr;
    max-width: 1300px;
    padding: 30px 0px 40px 0px;
    margin: 10px 0px 30px 0px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.hero-text-area{
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.hero-img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(256, 256, 256, 0.3);
    box-shadow: 0px 25px 24px -10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.hero-img:hover{
    box-shadow: 0px 50px 30px -25px rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(256, 256, 256, 0.7);
}

#noIcons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signIn-wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 420px;
    padding: 30px 20px;
}

/* #signin-button{
} */

.main-heading{
    // padding-top: 50px;
    padding-bottom: 10px;
}

.loading-overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
    left: 50%;
    z-index: 10;
    top: 50%;
    transform: translate(-50%, -49%);
}

.loading-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: fit-content;
    border-radius: 4px;
    background: rgb(50, 50, 50);
}

.loading-animation{
    left: 50%;
    transform: translateX(-50%);
}

.icon{
    padding: 17px 20px;
    transition: 0.2s;
}

.searchBar-left{
    position: absolute;
    top: 50%;
    left: 0px;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    transform: translateY(-50%);
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.searchBar-right{
    position: absolute;
    right: 10px;
    height: 52px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.searchBar-right:opacity{
    opacity: 1;
}

.searchBar-right > *{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.searchBar-right > svg{
    opacity: 0.6;
}

.searchBar-right > svg:hover{
    opacity: 1;
}

.coral--light .icon{
    fill: var(--coral-dark-card);
}

.coral--dark .icon{
    fill: var(--coral-light-card);
}

.body-text{
    // padding-right: 40px;
    margin: auto;
    max-width: 350px;
}

.loading-approval-wrapper{
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    top: 50%;
    width: 80%;
    height: 80%;
    /* backdrop-filter: blur(5px) saturate(0.5); */
    backdrop-filter: blur(3px);
}

.hide{
    visibility: hidden;
}

.loading-approval{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.coral-card{
    transition: 0.2s;
}

.drop-zone-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    height: fit-content;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.drop-zone{
    cursor: pointer;
}

.drop-zone{
    height: var(--icon-preview-dimensions);
    width: var(--icon-preview-dimensions);
    border: dashed 2px rgba(256, 256, 256, 0.35);
    border-radius: 7px;
}


.dialog-text{
    max-width: 380px;
    padding-bottom: 15px;
}


.coral--light .coral-card{
    background: var(--coral-light-card);
    border-color: var( --coral-light-border);
    color: var( --coral-dark-border);
}

.coral--light ._coral-Icon{
    filter: brightness(1.05);
}

.coral--light ._coral-Icon:hover{
    filter: brightness(0.7);
}

.coral--light .coral-button .coral-Link{
    color: black;
}


.coral--dark .coral-card{
    background: var(--coral-dark-card);
    border-color: var(--coral-dark-border);
    color: var( --coral-light-border);
}

.coral--dark .coral-card:hover{
    border-color: var(--coral-dark-border-hover);
}

.coral--dark .coral-bg{
    background: var(--coral-dark-bg);
}

.coral--light .coral-bg{
    background: var(--coral-light-bg);
}

.coral--dark ._coral-Icon{
    filter: brightness(1.2);
}

.coral--dark ._coral-Icon:hover{
    filter: brightness(1.5);
}

.coral--dark ._coral-Button .coral-Link{
    color: white !important;
}

.dashBoard{
    width: var(--page-width);
    padding-top: 70px;
    margin: auto;
}


.dashBoard .main-search-wrapper{
    display: block;
}

.dashBoard .card-img-wrapper{
    padding: 20px 45px 5px 45px;
    position: relative;
}

.dashBoard .card-wrapper{
    max-width: 250px;
    margin-bottom: 20px;
}

.dashboard-wrapper{
    max-width: 1300px;
    margin: auto;
}

.dashboard-edit-user{
    cursor: pointer;
    transform: translate(5px, 2px);
    height: 20px;
}

.filler-space{
    display: inline;
    height: 10px;
    width: 10px;
    padding-left: 10px;
}

.coral-Heading--M a{
    color: white;
}

/* .search-wrapper-dashboard{

} */

.burger-btn coral-icon img{
    width: 24px
}

.coral-btn{
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    min-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 4px 14px;
    padding-bottom: 5px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    font-family: adobe-clean, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS', 'Lucida Grande', sans-serif;
    transition: 0.13s
}

.coral-btn-primary{
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    min-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 4px 14px;
    padding-bottom: 5px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: 700;
}

.coral--dark .coral-btn-primary{
    border-color: #e3e3e3;
    color: #e3e3e3;
}
.coral--dark .coral-btn-primary:hover{
    background-color: #e3e3e3;
    color: #4b4b4b;
}

.coral--light .coral-btn-primary{
    border-color: #4b4b4b;
    color: #4b4b4b;
}
.coral--light .coral-btn-primary:hover{
    background-color: #4b4b4b;
    color: #e3e3e3;
}

.quiet-button{
    border: none !important;
    background-color: transparent;
}

.coral--dark .quiet-button:hover{
    background-color: rgb(62, 62, 62);
    border-color: rgb(62, 62, 62);
    color: rgb(255, 255, 255);
}

.coral--light .quiet-button:hover{
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(44, 44, 44);
}

.coral--light .quiet-button{
    color: black;
}

.coral--dark .quiet-button{
    color: white;
}

._coral-Button{
    border-radius: var(--main-border-radius) !important;
}

.quick-actions-wrapper{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    height: 42px;
    border-radius: 5px;
    backdrop-filter: brightness(0.3) blur(50px) grayscale(0.2);
    transition: 0.15s;
    opacity: 0;
}

.card-img-wrapper:hover .quick-actions-wrapper{
    opacity: 1;
}

.quick-action-el{
    cursor: pointer;
}

.quick-action-icon{
    /* width: 89px; */
    top: 50%;
    padding: 10px;
    margin: auto;
}

.small-text{
    margin-top: 0px;
    padding-top: 0px;
    height: 24px !important;
    font-size: 12px !important;
}

.approval-img-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 200px;
    padding: 20px;
    margin: auto;
    row-gap: 5px;
}

.approval-img-wrapper img{
    width: 70%;
}

.waiting-wrapper{
    width: fit-content;
    margin: auto;
    padding-top: 30px;
}

.redBg{
    background: red;
}


.editable-input{
    text-align: center;
    border: none !important;
    border-radius: 0px !important;
}

.editable-input:focus{
    box-shadow: 0 1px 0 rgb(38, 128, 235) !important;
}

.firebaseui-id-submit:hover{
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
}


.coral-Well{
    border-radius: 10px !important;
}

.coral--dark .coral-Well{
    border-color: #595959 !important;
}

.coral--light .coral-Well{
    border-color: #e0e0e0 !important;
}

.desktop-hidden{
    display: none !important;
}

.text-and-ad-wrapper{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    margin: 0px 0px 0px 0px;
    gap: 30px;
    justify-items: end;
    // grid-template-columns: auto auto;
    // padding-top: 50px;
}

.h3-description{
    margin-top: 50px;
}

.h3-description > h1{
    max-width: 550px;
}

.h3-description-body{
    max-width: 550px;
}

.h3-description-center{
    text-align: center;
}

.h3-description-center .h3-description-body{
    margin: auto;
}

.h3-description-center > h1{
    margin: auto;
}







@media only screen and (max-width: 12000px){
    ._coral-Dialog{
        min-width: 368px !important;
    }
}


@media only screen and (max-width: 1200px){
    .icon-list-area{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .header-grid-btns > div > *{
        width: 100%;
        justify-content: start;
    }

    .coral-Divider--S{
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .mobile-nav-options{
        padding: 50px 20px 15px 20px;
    }

    .header-icon-wrapper{
        position: relative;
        left: 0;
        transform: none;
        padding-right: 10px;
    }

}

@media only screen and (max-width: 1024px){

    .card-wrapper{
        max-width: 350px;   
    }

    .card-img-wrapper {
        padding: 10px 15px 0px 17px
    }
    
    .filler-space{
        padding-left: 0px;
        display: block;
    } 

    .text-and-ad-wrapper{
        grid-template-columns: 1.2fr 1.2fr;
        padding-top: 0px;
    }
    
    .hide-on-shrink{
        display: none;
    }

}

@media only screen and (max-width: 820px){
    .desktop-hidden{
        display: block !important;
    }

    .mobile-hidden{
        display: none !important;
    }

    .hero-wrapper{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 0px 20px 0px;
        // margin-top: 0px;
    }

    .hero-text-area{
        text-align: left;
        margin: 0px;
    }

    .body-text{
        margin-left: 0px;
    }
}


@media only screen and (max-width: 720px){

    .icon-list-area{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-img-wrapper {
        padding: 10px 15px 0px 17px
    }

    .instructions-grid{
        padding-top: 50px
    }

    .main-search{
        width: 100%;
    }

    .instructions-well{
        grid-template-columns: 1fr;
        gap: 0px;
        padding: 0px;
    }

    .instructions-item{
        padding-bottom: 0px !important;
        // padding-top: 10px !important;
    }

    .text-and-ad-wrapper{
        display: block;
        padding-top: 0px;
    }
    
    .marked h2{
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .marked h3{
        font-size: 1.2rem;
    }

    .instructions-well .instructions-img-wrapper{
        position: relative;
        height: 100%;
        width: 70%;
        margin: auto;
    }
    

}


@media only screen and (max-width: 612px){
    .icon-list-area{
        grid-template-columns: 1fr 1fr;
    }

    // .footer{
    //     bottom: inherit;
    // }
    
    .main-heading{
        padding-top: 0px;
    }
    
    .hero-wrapper .coral-Body--S{
        margin-bottom: 5px;
    }
    
    .header-wrapper{
        align-items: center;
        // grid-template-columns: auto;
        // width: fit-content;
    }
    
    .header-grid-btns {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        justify-content: start;
    }
    
    .header-grid-btns > div{
        width: calc(100vw - 20px * 2);
        padding: 0;
    }

    .h3-description h3{
        margin-top: 30px;
        padding-top: 0px;
    }
    
    .main-search-wrapper{
        padding-top: 5px;
    }

    .searchBar-right{
        right: 0px;
    }
}

@media only screen and (max-width: 460px){
    .PH-badge{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 412px){
    /* .gitHub-sponsor{
        height: 330px;
    } */
}

@media only screen and (max-width: 320px){
    ._coral-Dialog{
    min-width: 300px !important;
}
}










/* Classes changed from Adobe Coral */
/* ._coral-Button{
    min-width: 10px !important;
    padding: 8px 20px 8px 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: var(--main-border-radius) !important;
} */

._coral-Button p{
    margin: 0;
    font-size: 1rem;
    font-weight: 600 !important;
}

.coral-Heading--regular{
    font-weight: 500 !important;
}

._coral-Textfield{
    padding: 5px 11px 5px 11px;
    width: 100% !important;
}

.searchBar{
    // padding: 20px 160px 20px 45px;
    padding-right: 40px;
    height: 50px !important;
    border-radius: var(--main-border-radius) !important;
    font-size: 1rem !important;
}

._coral-Search{
    border-radius: var(--main-border-radius);
}

._coral-Search-input{
    padding-left: 50px;
}

.imageLoad {
    background: linear-gradient(180deg, #5d5d5d, #eeeeee);
    background-size: 400% 400%;

    animation: imageLoad 2s ease infinite;
}

@keyframes imageLoad {
    0% {
        background-position: 50% 0
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0
    }
}
