.isMobile #carbonads{
    margin: 15px auto !important;
}

.single-ad{
    /* margin: 0 0 0 auto; */
}

.mobile-ad #carbonads{
    max-width: none !important;
    background: none !important;
    box-shadow: none !important;
    padding: 0px !important;
}

.mobile-ad .carbon-wrap{
    padding: 0px !important;
}

.mobile-ad .carbon-poweredby{
    text-align: right !important;
}

.mobile-ad .carbon-poweredby{
    background: none;
}

.single-ad #carbonads{
    /* max-width: 225px; */
    height: fit-content;
    margin: auto;
    /* margin: 0 0 0 auto; */
    opacity: 0.8;
}

.single-ad #carbonads:hover{
    opacity: 1;
}

.single-ad #carbonads * {
    margin-left: auto;
    padding: initial;
  }
  
.single-ad #carbonads {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
      sans-serif;
  }
  
.single-ad #carbonads {
    display: flex;
    max-width: 360px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
    z-index: 100;
  }
  
.single-ad #carbonads a {
    color: inherit;
    text-decoration: none;
  }
  
.single-ad #carbonads a:hover {
    color: inherit;
  }
  
.single-ad #carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
.single-ad #carbonads .carbon-wrap {
    display: flex;
  }
  
.single-ad #carbonads .carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
  }
  
.single-ad #carbonads .carbon-img img {
    display: block;
  }
  
.single-ad #carbonads .carbon-text {
    font-size: 13px;
    margin: auto;
    padding: 0px 0px 20px 10px;
    line-height: 1.5;
    text-align: left;
  }
  
.single-ad #carbonads .carbon-poweredby {
    display: block;
    padding: 6px 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: calc(100% - 174px);
    margin-bottom: 10px !important;
}

/* background: #f1f1f2; */
  

/* Resources card ad */
/* //////////////////////////////////////////////////////////////// */

.resource-description .single-ad{
    position: absolute;
    bottom: 0;
}

.resource-content-wrapper #carbonads{
    max-width: none;
}

.resource-content-wrapper #carbonads .carbon-text {
    padding: 0px 0px 30px 15px;
}

.resources-card-ad{
    height: 100%;
    min-width: calc(100vw / 3 - 18vw);
    max-width: 320px;
}

.resources-card-ad .carbon-text{
    padding: 0px
}

.resources-card-ad .carbon-wrap{
    gap: 5px;
}

.resources-card-ad #carbonads{
    padding: 15px 15px 15px 15px;
    max-width: none;
}

.resources-card-ad #carbonads > span{
    gap: 10px;
}

.resources-card-ad #carbonads > span > a{
    position: relative;
    width: calc(100% - 20px);
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 250px;
}

.resources-card-ad #carbonads .carbon-wrap{
    padding: 0px;
}

.resources-card-ad .carbon-poweredby{
    margin: 0px auto;
}

/* //////////////////////////////////////////////////////////////// */





@media only screen and (max-width: 1440px){
    .resources-card-ad{
        height: 100%;
        min-width: none;
        max-width: 320px;
    }
}

@media only screen and (max-width: 900px){
    .resources-card-ad{
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 720px){
    .single-ad #carbonads {
        max-width:none;
    }
}



#carbonads {
    display: flex;
    max-width: 330px;
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: var(--main-border-radius);
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 0.2s;
}

#carbonads:hover {
    transform: translateY(-4px);
    border: inherit;
}


.coral--dark #carbonads{
    background: var(--coral-dark-card);
    color: var(--coral-light-border);
}

.coral--light #carbonads{
    background: var(--coral-light-card) ;
    color: var(--coral-dark-border) !important;
}

#carbonads a {
    color: inherit;
    text-decoration: none;
}

#carbonads a:hover {
    color: inherit;
}

#carbonads:hover .carbon-img img {
    opacity: 1;
}

#carbonads span {
    position: relative;
    display: grid;
    overflow: hidden;
}

.icon-list-area #carbonads span {
    position: relative;
    display: grid;
    overflow: hidden;
    padding-bottom: 10px;
}

#carbonads .carbon-wrap {
    display: grid;
    padding: 8px 7px 10px 7px;
    grid-template-rows: auto;
}

#_carbonads_js:after{
    transform: translatey(40px);
}


.carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
}

.carbon-img img {
    border-radius: 7px;
    display: block;
    margin: auto;
    opacity: 0.8;
    transition: 0.3s;
}

.carbon-text {
    font-size: 13px;
    padding: 2px 5px 0px 5px;
    line-height: 1.4;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.carbon-poweredby {
    /* display: none; */
    display: block;
    padding: 8px 10px;
    
    opacity: 0.5;
    margin-bottom: 13px;
    width: 70%;
    border-radius: 7px;
    
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, 0.025) 5px, hsla(0, 0%, 0%, 0.025) 10px) hsla(203, 11%, 95%, 0.2);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 9px;
    line-height: 1;
}
