<!DOCTYPE html>
<html id="body" lang="en" class="coral coral--medium coral--light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Primary Meta Tags -->
    <title>Over 5000+ free icons for macOS Big Sur & iOS - massive app icon pack</title>
    <meta name="title" content="Over 5000+ free icons for macOS Big Sur & iOS - massive app icon pack">
    <meta name="description" content="Free 5000+ macOS app icons in the style of macOS Big Sur. Fully open source and community led. How to install custom icons on macOS Big Sur.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://macosicons.com/">
    <meta property="og:title" content="Over 5000+ free icons for macOS Big Sur & iOS - massive app icon pack">
    <meta property="og:description" content="Free 5000+ macOS app icons in the style of macOS Big Sur. Fully open source and community led. How to install custom icons on macOS Big Sur.">
    <meta property="og:image" content="https://raw.githubusercontent.com/elrumo/macOS_Big_Sur_icons_replacements/master/icons/Social/low-res/Thumbnail_2021.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://macosicons.com/">
    <meta property="twitter:title" content="Over 5000+ free icons for macOS Big Sur & iOS - massive app icon pack">
    <meta property="twitter:description" content="Free 5000+ macOS app icons in the style of macOS Big Sur. Fully open source and community led. How to install custom icons on macOS Big Sur.">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/elrumo/macOS_Big_Sur_icons_replacements/master/icons/Social/low-res/Thumbnail_2021.jpg">
    <meta name="twitter:creator" content="@elrumo">
    <meta name="twitter:site" content="@elrumo">
    <meta name="author" content="@elrumo">
    
    <!-- Carbon ads -->
    <script rel="preconnect" src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    
    <!-- heatmap -->
    <script rel="preconnect" async>
      (function(h,e,a,t,m,p) {
      m=e.createElement(a);m.async=!0;m.src=t;
      p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
      })(window,document,'script','https://u.heatmap.it/log.js');
    </script>
    
    <!-- Plausible analytics -->
    <script rel="preconnect" async defer data-domain="macosicons.com" src="https://stats.macosicons.com/js/index.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

    <!-- Instant.page -->
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>

  </head>
  
  <body>
    
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    
  </body>
</html>
